langchain
python-dotenv
streamlit
unstructured
tiktoken
faiss-cpu
libmagic
python-magic
python-magic-bin
OpenAI 
PyPDF2
lida
langchain_openai
langchain_community
streamlit_authenticator
duckduckgo-search
youtube-search-python
pytesseract

